# Dependencies
node_modules
.pnpm-store

# Build
dist
build
.next
out
.turbo
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test / coverage
coverage
playwright-report
test-results

# Prisma
apps/api/prisma/*.db

# Docker volumes
data/

# Sentry
.sentryclirc

# Misc
*.pem
.vercel
